*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Merriweather Sans", sans-serif;
    color: #4c6986;
}

.wrapper{
    max-width: 1200px;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;  
    padding: 40px;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.title{
    max-width: 400px;
}
.restart{
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #4c6986;
    font-weight: bold;
    cursor: pointer;
    margin-top: 30px;
    transition: all 0.2s ease;

    /* border: 1px solid #4c6986;
    border-radius: 95px;
    padding: 10px;
    font-weight: bold; */
}

.restart:hover{
    background-color: #4c6986;
    color: white;
}

h1{
    font-size: 50px;
    font-weight: bold;
}

.game{
    width: 400px;
    height: 400px;
}
.header{
    display: flex;
    font-size: 24px;
    color: #9a9a9a;
}

.header .player-x{
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}
.header .player-o{
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-x.active{
    color: #42BED7;
    border-color: #42BED7;
}

.player-o.active{
    color: #D7BAFD;
    border-color: #D7BAFD;
}

.board{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    grid-gap: 0px;
    flex-grow: 1;
    padding: 10px;
    cursor: pointer;
}


.game{
    display: flex;
    flex-direction: column;
}

.board-tile{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.board-tile:hover{
    /* background-color: #eee; */
    background: #eee;
}
.board-tile:nth-child(1),
.board-tile:nth-child(2),
.board-tile:nth-child(4),
.board-tile:nth-child(5),
.board-tile:nth-child(7),
.board-tile:nth-child(8){
    border-right: 3px solid rgba(137,163, 189, 0.5);
}

.board-tile:nth-child(1),
.board-tile:nth-child(2),
.board-tile:nth-child(3),
.board-tile:nth-child(4),
.board-tile:nth-child(5),
.board-tile:nth-child(6){
    border-bottom: 3px solid rgba(137,163, 189, 0.5);
}

.tile-x{
    color: #42BED7;
}
.tile-o{
    color: #D7BAFD;
}
.tile-winner{
    color: #23CE6B;
}
@media only screen and (max-width : 900px) {
    .wrapper{
        flex-direction : column;
    }
    .left{
        margin-bottom: 30px;
    }
}